.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }
 

  .header__searchIcon {
    padding: 5px;
    height: 20px !important;
    background-color: #cd9042;
  }
 
  /* .head{
    color: white;
    padding: 10px;
  } */
    
  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  } 
  
  
  .header__searchInput {
    height: 11px;
    padding: 10px;
    border: none;
    width: 100%;
  }
  
  
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  
  }
  
  
  .header__nav {
    display: flex;
    justify-content: space-evenly;
    padding-right:30px;
  }
  
  
  .header__optionLineOne {
    font-size: 10px;
  }
  
  .header__optionLineTwo {
    font-size:13px;
    font-weight:800;
    
  }
  /* .decor{
    text-decoration:none;
} */
  
  .header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 12px;
  }
 
  .header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }

  .header__clearlink {
    text-decoration: none;
  }

  .location{
    text-decoration: none;
    color: white;
  }
  .locc{
    display: flex;
    margin-right: 8px;
    
  }
  .locc .header__option {
    display: flex;
    margin-right: 8px;
    margin-left: 0px;
  }
  .licon{
    margin-top: 20px;
    color:orange;
  }
  
  
   /* .header__option .header__optionLineOne{
  
   } */
   /* .a{
  
  text-decoration: none !important;
} */